GHCR_OWNER=seu-usuario-ou-org-github

MYSQL_ROOT_PASSWORD=trocar_esta_senha
MYSQL_DATABASE=festajunina
MYSQL_USER=festajunina_user
MYSQL_PASSWORD=trocar_esta_senha

JWT_KEY=trocar_por_uma_chave_forte_com_32_chars_ou_mais
CORS_ALLOWED_ORIGIN_1=https://seu-dominio-frontend.com
CORS_ALLOWED_ORIGIN_2=

EMAIL_USER=
EMAIL_PASS=

AZURE_BLOB_SERVICE_URI=
AZURE_BLOB_CONTAINER=uploads
AZURE_BLOB_CONNECTION_STRING=
